.post-review {
    padding: 20px;
    border: 3px solid blue;
    width: 400px;
    text-align: center;
}

.post-review-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-review-form > textarea {
    height: 150px;
}

.post-review-form > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: repeat(5, 1fr) auto; */
    gap: 5px;
}

.post-review-form > label > button {
    font-size: 3em;
}