.create-spot {
    width: 500px;
    margin: auto;
}

.create-spot-form > h2 {
    margin-bottom: 0.2em;
}

.sf-field {
    margin-bottom: 10px;
}

.sf-field > label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.2em;
    color: rgb(27, 27, 27);
}

.sf-field > input {
    width: 100%;
}

.sf-city-state {
    display: grid;
    grid-template-columns: 2fr 5px 1fr;
    gap: 10px;
}

.sf-comma {
    display: flex;
    align-items: center;
    font-size: 2em;
}

.sf-field-divider {
    margin: 20px 0 10px;
}