.create-spot {
    width: 500px;
    margin: auto;
}

.create-spot-form > h2 {
    margin-top: 20px;
    margin-bottom: 0.2em;
}

.sf-field {
    margin-bottom: 10px;
}

.sf-field > label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.2em;
    color: rgb(27, 27, 27);
}

.sf-field > input {
    width: 100%;
}