/* RESET BROWSER DEFAULTS */

ul, ol {
    list-style: none;
}

a {
    color: black;
    text-decoration: none
}

button {
    background-color: inherit;
    cursor: pointer;
}

div, span, a, h1, h2, h3, h4, h5, h6, p, a, img, section, header, main, footer, article, ul, ol, li, button, body {
    margin: 0;
    border: 0;
    padding: 0;
}

/* APPLY GLOBALLY */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.link, a {
    cursor: pointer;
    color: blue
}

.link:hover, a:hover {
    color: rgb(85, 246, 255);
}

.errors {
    font-size: 0.8em;
    color: red;
}