.spot-index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 30px;
}

.spot-tile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spot-tile {
    display: grid;
    grid-template-areas: 
        "spot-tile-image spot-tile-image"
        "spot-tile-location spot-tile-rating"
        "spot-tile-price .";
    color: inherit;
}

.spot-tile:hover {
    background-color: aqua;
    color: inherit;
}

.spot-tile-image {
    grid-area: spot-tile-image;
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.spot-tile-location {
    grid-area: spot-tile-location
}

.spot-tile-rating {
    grid-area: spot-tile-rating;
    text-align: right
}

.spot-tile-price {
    grid-area: spot-tile-price
}

.spot-tile-manage {
    grid-area: spot-tile-buttons;
    display: flex;
}

.spot-tile-manage-button {
    margin-right: 5px;
}

.name-tooltip {
    position: absolute;
    background-color: black;
    color: white;
}

.hidden-tooltip {
    display: none;
}

@media (max-width: 1000px) {
    .spot-index {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 750px) {
    .spot-index {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .spot-index {
        grid-template-columns: repeat(1, 1fr);
    }
}