.login-modal {
    width: 350px;
    border: 5px blue solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.login-title {
    text-align: center;
    font-size: 1.3em;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 10px 0 20px;
}

.login-button {
    border: 1px gray solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.login-button:hover {
    box-shadow: 3px 3px lightgray;
}